<div class="settings"
      *ngIf="!isStartScreenComplete && !isFinishedGame">
  <form class="players"
        #form="ngForm">
    <div class="players__text">Кол-во игроков</div>
    <div class="players__amount">
      <input type="number"
             placeholder="Введите количество игроков"
             minlength="3" required="true" min="3" #playersAmount="ngModel" name="playersAmount"
             [(ngModel)]="playersNumber">
      <div *ngIf="playersAmount.invalid && (playersAmount.dirty || playersAmount.touched)">
        <div class="error-msg" *ngIf="playersAmount.errors.required">
          Введите кол-во игроков
        </div>
        <div class="error-msg" *ngIf="playersAmount.errors.minlength">
          Минимальное количество {{playersAmount.errors.minlength?.requiredLength}}
        </div>
      </div>
    </div>
    <button class="btn players__start-btn"
            [disabled]="playersAmount.invalid"
            (click)="start()">Начать</button>
  </form>
</div>

<div class="game"
      *ngIf="isStartScreenComplete && !isFinishedGame">
  <h2 class="game__player-number">Игрок номер {{currentPlayerNumber}}</h2>
    <div class="card"
         [class.hidden]="isHiddenCard"
          (click)="isHiddenCard = !isHiddenCard">
      <div class="card__role">{{currentPlayer.role}}</div>
      <div class="card__location">{{currentPlayer.role === 'Шпион' ? '' : location}}</div>
    </div>
    <button class="btn"
            (click)="nextPlayer()">
      Следующий
    </button>
</div>

<div class="finish"
      *ngIf="isFinishedGame">
  Это Всииииоооо, <br>
  перезагрузи страницу бро
</div>
