<div class="settings"
      *ngIf="!isStartScreenComplete && timer === null">
  <form class="players" #form="ngForm">
    <div class="players__text">Кол-во игроков</div>
    <div class="players__amount">
      <input type="number"
             placeholder="Введите количество игроков"
             minlength="3" required="true" min="3" #playersAmount="ngModel" name="playersAmount"
             [(ngModel)]="playersNumber">
      <div *ngIf="playersAmount.invalid && (playersAmount.dirty || playersAmount.touched)">
        <div class="error-msg" *ngIf="playersAmount.errors.required">
          Введите кол-во игроков
        </div>
        <div class="error-msg" *ngIf="playersAmount.errors.minlength">
          Минимальное количество {{playersAmount.errors.minlength?.requiredLength}}
        </div>
      </div>
    </div>
    <div class="players__text">Кол-во шпионов</div>
    <div class="players__amount">
      <input type="number"
             placeholder="Введите количество шпионов"
             minlength="3" required="true" min="1" #spyAmount="ngModel" name="spiesAmount"
             [(ngModel)]="spiesNumber">
      <div *ngIf="spyAmount.invalid && (spyAmount.dirty || spyAmount.touched)">
        <div class="error-msg" *ngIf="spyAmount.errors.required">
          Введите кол-во шпионов
        </div>
        <div class="error-msg" *ngIf="spyAmount.errors.minlength">
          Минимальное количество {{spyAmount.errors.spiesNumber?.requiredLength}}
        </div>
      </div>
    </div>
    <div class="players__text">Секунд</div>
    <div class="players__amount">
      <input type="number"
             placeholder="Введите количество секунд"
             minlength="3" required="true" min="30" #secondsAmount="ngModel" name="secondsAmount"
             [(ngModel)]="secondsNumber">
      <div *ngIf="secondsAmount.invalid && (secondsAmount.dirty || secondsAmount.touched)">
        <div class="error-msg" *ngIf="secondsAmount.errors.required">
          Введите кол-во секунд
        </div>
        <div class="error-msg" *ngIf="secondsAmount.errors.minlength">
          Минимальное количество {{secondsAmount.errors.spiesNumber?.requiredLength}}
        </div>
      </div>
    </div>
    <button class="btn players__start-btn"
            [disabled]="playersAmount.invalid || spyAmount.invalid || secondsAmount.invalid"
            (click)="showRoles()">Начать
    </button>
  </form>
</div>

<div class="game"
      *ngIf="isStartScreenComplete && timer === null">
  <h2 class="game__player-number">Игрок номер {{currentPlayerNumber}}</h2>
    <div class="card"
         [class.hidden]="isHiddenCard"
          (click)="isHiddenCard = !isHiddenCard">
      <div class="card__role">{{currentPlayer.role}}</div>
      <div class="card__location">{{currentPlayer.role === 'Шпион' ? '' : location}}</div>
    </div>
    <button class="btn"
            (click)="nextPlayer()">
      {{currentPlayerNumber === playersNumber ? 'Играть' : 'Следующий'}}
    </button>
</div>

<div class="finish"
      *ngIf="timer && timer !== 0">
  Осталось {{timer}} секунд
</div>
<div class="finish"
      *ngIf="timer === 0">
  Это всиооо, перезагрузи страницу
  <button class="btn btn--reload"
          (click)="refreshPage()">Перезагрузить</button>
</div>
